@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Animate main image  */
#animate-image {
    position: relative;
    animation-name: moveUpDown;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moveUpDown {
    from {
        top: 0;
    }
    to {
        top: 30px;
    }
}

/* clients  */
#ClientImg {
    filter: brightness(20%);
    transition: filter 0.3s ease;
}

#ClientImg:hover {
    filter: brightness(100%);
}
  
/* call  */
#call{
    background: url("./src/assets/call.jpg");
    background-position: left;
    background-color: #3f6ab3;
    background-blend-mode: multiply;
}

#darkshadow{
    box-shadow: 1px 8px 16px rgb(172, 170, 170);
    margin-bottom: 40px;
    margin-right: 16px;
}

/* Responsive  */
@media (min-width: 1180px) {
    #bigger{
        width: 660px;
    }
    #con-left{
        width: 460px;
    }
    #iframe{
        width: 410px;   
    }
    #email,
    #country,
    #phone,
    #city{
        width: 290px;
    }
    #full-name,
    #subject,
    #message{
        width: 595px;
    }
}


@media (min-width: 760px) {
    #service-try,
    #service-try2,
    #service-try3{
        display: flex;
    }
    
}

@media (min-width: 400px) {
    #mainImg{
        margin-bottom: 38px;
    }
}

@media (min-width: 767px) {
    #mainImg{
        margin-bottom: 38px;
        width: 800px;
    }
}


nav ul li a:hover,
nav ul li a.active{
    color: gold;
}


#main{
    background: url('../src/assets/technology.webp');
}

/* Registration and Login  */
#Register{
    background: url("./assets/register.jpg");
    background-color: #114db3;
    background-blend-mode: multiply;   
    width: auto;
    height: 100vh;
}

#login{
    background: url("./assets/loginImage.jpg");
    background-color: #114db3;
    background-blend-mode: multiply;   
    width: auto;
    height: 100vh;
}

#regMain,
#loginMain{
    border: 3px solid white;
    height: 570px;
    width: 600px;
    box-shadow: 1px 1px 20px 6px gray;
}

#loginMain{
    height: 500px;
}
