@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-color: #37517e;
}

button{
    border-color: #47b2e4;
}

#Home{
    color: gold;
    font-size: 23px;
}